@font-face {
    font-family: 'MyWebFont';
    src: url('../font/creativeblock-bb.regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

:root {
    --primary: rgb(63, 70, 214);
    --secondary: rgb(22, 122, 184);
    --light: rgb(236, 244, 249);
    --dark: rgb(31, 33, 34);
    --lightDark: rgb(48, 59, 65);

    --spacing: 8px;
    --spacing2: calc(8px * 2);
    --spacing3: calc(8px * 3);
    --spacing4: calc(8px * 4);
    --spacing5: calc(8px * 5);

    --font-familly: MyWebFont;

    --font-size-other: 1.3rem;
    --font-size-title: 2rem;
}

* {
    margin: 0;
}

header div ul li:first-child {
    margin-top: 50%;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;

}

header div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(6, 5, 4);
    scrollbar-shadow-color: rgb(92, 85, 81);
    text-shadow: 5px 5px 5px white;
}

.nav-list {
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--secondary);

}

.nav-item {
    margin-right: 2rem;
    margin-top: 16px;
    text-transform: uppercase;
    font-weight: 600;

}

.nav-item a {

    color: black;
    letter-spacing: 1.2px;

}

@media screen and (max-width:680px) {
    nav.items {
        margin-left: 0px;
    }
}

.double-nav .breadcrumb-dn {
    color: #fff;
}

.side-nav.wide.slim .sn-ad-avatar-wrapper a span {
    display: none;
}

.sidenav {
    display: none;
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    background: var(--secondary);
    padding-top: 60px;
    transition: left 0.5s ease;
    overflow: hidden;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgb(38, 96, 177);
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    left: 0;
    display: initial;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background: var(--secondary);
    margin: 6px 0;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav ul li a {
    font-size: 2.5rem;
    font-family: MyWebFont;
    background-color: #fff;
    box-shadow: 2px 2px 4px grey;
}

.sidenav img {
    height: fit-content;
    width: fit-content;
    margin-top: 200px;
}