:root {
  --primary: rgb(63, 70, 214);
  --secondary: rgb(22, 122, 184);
  --light: rgb(236, 244, 249);
  --dark: rgb(31, 33, 34);
  --lightDark: rgb(48, 59, 65);

  --spacing: 8px;
  --spacing2: calc(8px * 2);
  --spacing3: calc(8px * 3);
  --spacing4: calc(8px * 4);
  --spacing5: calc(8px * 5);

  --font-familly: MyWebFont;

  --font-size-other: 1.3rem;
  --font-size-title: 2rem;
}

#bluetext {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--light);
  box-shadow: 2px 2px 4px grey;
  padding: 10px;
  width: 100%;
  margin: 16px;
  font-size: 3rem;

}

#contactform {
  font-size: 1.3ram;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  padding: 8%;
  background-color: var(--light);
}

label {
  margin-block-start: 8px;
  margin-block-end: 4px;
}

input {
  font-size: 1rem;
  padding-block: 4px;
  padding-inline: 8px;
}

textarea {
  font-size: 1rem;
}

button {
  background-color: var(--primary);
  color: var(--light);
  padding: 12px;
  border-width: 0;
  border-radius: 4px;
  font-size: 1.5rem;
  width: fit-content;
  margin-block-start: 8px;
  font-family: 'MyWebFont';
}

button:hover {
  filter: brightness(120%);

}

button:active {
  filter: brightness(80%);

}

.esTu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.error {
  background-color: rgb(243, 77, 77);
  color: red;
  padding: 8px;
}

.happy {
  display: flex;
  justify-self: center;
  width: 15%;
  height: 20%;
  padding-top: 50px;
}

@media screen and (max-width:700px) {
  .contactform {
    min-width: 411px;
    flex-wrap: wrap;
  }
}