:root {
  --primary: rgb(63, 70, 214);
  --secondary: rgb(22, 122, 184);
  --light: rgb(236, 244, 249);
  --dark: rgb(31, 33, 34);
  --lightDark: rgb(48, 59, 65);

  --spacing: 8px;
  --spacing2: calc(8px * 2);
  --spacing3: calc(8px * 3);
  --spacing4: calc(8px * 4);
  --spacing5: calc(8px * 5);

  --font-familly: MyWebFont;

  --font-size-other: 1.3rem;
  --font-size-title: 2rem;
}


#bluetext {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  background-color: var(--light);
  padding: 8px;
  width: 100%;
  margin: 16px;
  margin-top: 60px;
  font-size: 3.5rem;
}

#contactform {
  font-size: 1.3ram;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 5%;
  box-shadow: 3px 4px 6px grey;
  gap: 20px;
  border-radius: 8px;
}

label {
  margin-block-start: 8px;
  margin-block-end: 4px;
}

input {
  font-size: 1rem;
  padding-block: 4px;
  padding-inline: 8px;
}

textarea {
  font-size: 1rem;
}

button {
  background-color: var(--primary);
  color: var(--light);
  padding: 12px;
  border-width: 0;
  border-radius: 4px;
  font-size: 1.5rem;
  width: fit-content;
  margin-block-start: 8px;
  font-family: 'MyWebFont';
}

button:hover {
  filter: brightness(120%);

}

button:active {
  filter: brightness(80%);

}
#button {
  background-color: var(--primary);
  color: var(--light);
  padding: 12px;
  border-width: 0;
  border-radius: 4px;
  font-size: 1.5rem;
  width: fit-content;
  margin-block-start: 8px;
  font-family: 'MyWebFont';
}

#button:hover {
  filter: brightness(120%);

}

#button:active {
  filter: brightness(80%);

}

.esTu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

select {
  padding: 8px;
  box-shadow: 3px 4px 6px grey;
  font-size: 1rem;
}

.error {
  background-color: rgb(243, 77, 77);
  color: rgb(245, 82, 82);
  padding: 8px;
}

@media screen and (max-width:600px) {
  .contactform {
    width: 90%;
    flex-wrap: wrap;
  }
  #bluetext {
    flex-wrap: wrap-reverse;
}
}