@font-face {
    font-family: 'MyWebFont';
    src: url('../font/creativeblock-bb.regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

:root {
    --primary: rgb(63, 70, 214);
    --secondary: rgb(22, 122, 184);
    --light: rgb(236, 244, 249);
    --dark: rgb(31, 33, 34);
    --lightDark: rgb(48, 59, 65);

    --spacing: 8px;
    --spacing2: calc(8px * 2);
    --spacing3: calc(8px * 3);
    --spacing4: calc(8px * 4);
    --spacing5: calc(8px * 5);

    --font-familly: MyWebFont;

    --font-size-other: 1.3rem;
    --font-size-title: 2rem;
}

.bloc.nav-pro {
    padding: 10px;
    background-color: var(--secondary);
    background-color: var(--secondary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

.bloc {
    padding: 10px;
    background-color: var(--secondary);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: var(--light);

}
.blic{
    padding-top: 10px;
    padding-bottom: 40px;
}

.blic>p {
   padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.flexPage {
    background-color: var(--secondary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
}

.titre {

    background-color: var(--light);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    flex-direction: column;
    color: var(--primary);
    text-align: end;
}

.bluc {
    
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: var(--light);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--secondary);
    text-align: end;
}

h1 {
    font-size: 4rem;
}

.pwoutte {
    gap: 0;
}

h2.titre {
    padding: 0;
    font-size: 3rem;
}

.gif {

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
    width: 200px;


}

.fleur>img
{
    width: 15%;
    position: absolute;
    left: 0;
    top: 5%;
}

.gif>img {
    width: 15%;
    position: absolute;
    right: 0;
    bottom: 29%;
}

.jump>img {
    width: 15%;
    position: absolute;
    left: 0;
    bottom: -7%;
}
