@font-face {
    font-family: 'MyWebFont';
    src: url('../font/creativeblock-bb.regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

:root {
    --primary: rgb(63, 70, 214);
    --secondary: rgb(22, 122, 184);
    --light: rgb(236, 244, 249);
    --dark: rgb(31, 33, 34);
    --lightDark: rgb(48, 59, 65);

    --spacing: 8px;
    --spacing2: calc(8px * 2);
    --spacing3: calc(8px * 3);
    --spacing4: calc(8px * 4);
    --spacing5: calc(8px * 5);

    --font-familly: MyWebFont;

    --font-size-other: 1.3rem;
    --font-size-title: 2rem;
}

* {
    margin: 0;
}

body {
    background-color: var(--light);
}

.h1loisirs {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 16px;
    font-size: 5rem;
}

.loisirs1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8%;
    padding-top: 50px;
}

.loisirs2 {
    display: flex;
    justify-content: center;
    gap: 12%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: auto;
}

figure {
    text-align: center;
    height: auto;
    max-width: 100%;
}

.arondi {
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
    width: 100%;
    height: 400px;
}

figcaption {
    width: 400px;
    height: 700px;
    border-radius: 8px;
    font-size: 1.3rem;
    background-color: var(--secondary);
}

figcaption:hover {
    filter: brightness(120%);
  
  }
  
figcaption:active {
    filter: brightness(80%);
  
  }

.figcaption h2 {
    position: absolute;
    top: 17px;
    color: #a4deff;
}

.figcaption p {
    position: absolute;
    inline-size: 1.3rem;
    top: 17px;
    left: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
}

main img {
    width: 40%;
    box-shadow: 2px 2px 4px gray;
}

.bordure {
    margin-top: 30px;
    height: 80%;
    margin-inline-start: 16px;
}

.main-title {
    margin-right: 20px;
    margin-block-start: 24px;
    color: var(--primary);
    font-size: 4rem;
}


h1,
h2 {
    font-family: MyWebFont;
}

main div h1 {
    margin: 20px;
}

h2 {
    padding: 20px;
    font-size: 2rem;
}

p {
    padding: 20px;

}

.bluePart {
    margin-top: 16px;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
}

.bluePart h2 {
    margin-block: 24px;
    background-color: var(--light);
    box-shadow: 2px 2px 4px var(--lightDark);
    font-size: 2rem;
}

.bluePart div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bluePart p {
    width: 40%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--light);
    text-shadow: 2px 2px 4px var(--lightDark);
}
.whitePart div p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #000;
    text-shadow: 2px 2px 4px lightgray;
}

.whitePart {
    background-color:var(--light);
    display: flex;
    justify-content: space-around;
    margin: 32px;
}

.whitePart div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.whitePart img {
    width: 50%;
    box-shadow: 2px 2px 4px var(--lightDark);
}

.whitePart h2 {
    width: fit-content;
    box-shadow: 2px 2px 4px var(--lightDark);
}

.video {
    height: 400px;
    width: 800px;
    margin-bottom: 16px;
}

.danse>img {
    width: 13%;
    position: absolute;
    right: 20%;
    bottom: -28%;
}

@media screen and (max-width:700px) {
    main {
        flex-wrap: wrap-reverse;
        min-width: 500px;
    }

    .main-title>h1 {
        margin-block: 0;
        margin-inline: 0;
        margin: 0;
        font-size:3rem;
    }
    .div-subtitle>h2{
        font-size: 1.5rem;
    }

    figure {
        margin-top: 20px;
    }

    .loisirs1, .loisirs2 {
        flex-wrap: wrap;
    }

    .bluePart{
        flex-wrap: wrap;
    }

    .video{
        width: 412px;
        min-width: 200px;
    }

    .bluePart p {
        width: 100%;
    }

    .danse>img{
        bottom: -47%;
    }
}