@font-face {
    font-family: 'MyWebFont';
    src: url('creativeblock-bb.regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

footer {
    background-color: var(--primary);
    padding: 10px;
    font-family: 'MyWebFont';


}

ul {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

li {
    list-style: none;
}

@media  screen and (max-width:700px) {
    footer {
        min-width: 411px;
    }
}