@font-face {
    font-family:'MyWebFont';
    src: url('creativeblock-bb.regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

:root {
    --primary: blue;
    --light: rgb(236, 244, 249);
    --dark: rgb(3, 9, 13);
    --intermediate: #bbb6bb;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 100%;

}

header div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(6, 5, 4);
    scrollbar-shadow-color: ;
    text-shadow: 5px 5px 5px white;
}

.nav-list {
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--primary);

}

.nav-item {
    margin-right: 2rem;
    margin-top: 16px;
    text-transform: uppercase;
    font-weight: 600;

}

.nav-item a {

    color: black;
    letter-spacing: 1.2px;

}

.nav-pro {
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
    list-style: none;
}

@media screen and (max-width:680px) {
    nav.items {
        margin-left: 0px;
    }
}

.double-nav .breadcrumb-dn {
    color: #fff;
}

.side-nav.wide.slim .sn-ad-avatar-wrapper a span {
    display: none;
}

.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    background: lightblue;
    padding-top: 60px;
    transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgb(38, 96, 177);
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    left: 0;
    display: initial;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background: var(--primary);
    margin: 6px 0;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav ul li a {
    font-size: 1.3rem;
}

.sidenav img{
    height: fit-content;
    width: fit-content;
    margin-top: 200px;
}