:root {
  font-size: 1.3ram;
}

#bluetext {
  color: black;
  display: flex;
  justify-content: center;
  background-color: var(--light);
  box-shadow: 2px 2px 4px grey;
  padding: 10px;
  width: fit-content;
  margin: 16px;
  font-size: 3rem;

}

#contactform {
  font-size: 1.3ram;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

label {
  margin-block-start: 8px;
  margin-block-end: 4px;
}

input {
  font-size: 1rem;
  padding-block: 4px;
  padding-inline: 8px;
}

textarea {
  font-size: 1rem;
}

button {
  background-color: var(--primary);
  color: aquamarine;
  padding: 12px;
  border-width: 0;
  border-radius: 4px;
  font-size: 1.5rem;
  width: fit-content;
  margin-block-start: 8px;
  font-family: 'MyWebFont';

}

button:hover {
  filter: brightness(120%);

}

button:active {
  filter: brightness(80%);

}

.esTu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 100px;
}

.error {
  background-color: rgb(245, 199, 199);
  color: red;
  padding: 8px;
}

@media  screen and (max-width:700px) {
  .contactform {
      min-width: 411px;
      flex-wrap: wrap;
  }
}