@font-face {
    font-family: 'MyWebFont';
    src: url('creativeblock-bb.regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

:root {

    --primary: #a4deff;
    --light: #fdf7f7;
    --dark: black;
    --intermediate: #bbb6bb;
}
*{
    margin:0;
}

.h1 loisirs {
    background-color: var(--primary);
    padding: 10px;
}

.loisirs {
    display: flex;
    padding: .5rem;
    margin: 0 .5rem 1rem;
    border-radius: .5rem;
    box-shadow: var(--primary);
    justify-content: space-around;

}

figure {
    display: flex;
    width: 255px;
    height: auto;
    background-color: var(--primary);
    border-radius: 8%;
    border: 3px solid;
    border-color: var(--dark);

}

.arondi {
    object-fit: cover;
    object-position: top;
    width: 250px;
    height: 300px;
    border-radius: 8%;
    border: 3px solid;
    border-color: var(--dark);
}

figcaption {
    width: 250px;
    height: 530px;
}

.figcaption h2 {
    position: absolute;
    top: 17px;
    left: 20px;
}

.figcaption p {
    position: absolute;
    inline-size: 1.5rem;
    top: 17px;
    left: 20px;
}

div {
    display: flex;
   
   
    align-items: center;

}

main {
    display: flex;
   justify-content: space-between;
    background-size: cover;
    background-image: url("pay.jpg");
    background-repeat: no-repeat;
    height: 300px;



}

.bordure {
   margin-top: 30px;
    
    clip-path: circle();
    height: 80%;

}

.main-title {

margin-right: 20px ;
    margin-block: 40px;
    background-color: var(--light);
    font-size: 2rem;
    box-shadow: 2px 2px 4px grey;



}

h1,
h2 {
    font-family: MyWebFont;
    
}

h1 {
    margin: 20px;
}
h2{
    padding: 20px;
    font-size: 2rem;
}
p{  padding: 20px;

}