:root {
    --primary: #6cc4f7;
    --light: #f2f2f2;
    --dark: black;
    --intermediate: #bbb6bb;
}

.loisirs {
    display: flex;
    padding: .5rem;
    margin: 0 .5rem 1rem;
    border-radius: .5rem;
    box-shadow: #6cc4f7;
    justify-content: space-around;

}

figure {
    display: flex;

}

img {
    object-fit: cover;
    object-position: top;
    width: 200px;
    height: 300px;
}


.figcaption h2 {
    position: absolute;
    top: 17px;
    left: 20px;
}

.figcaption p {
    position: absolute;
    top: 17px;
    left: 20px;
}