@font-face {
    font-family: 'MyWebFont';
    src: url('creativeblock-bb.regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
}

:root {
    --primary: #6cc4f7;
    --light: #f2f2f2;
    --dark: black;
    --intermediate: #bbb6bb;
}

.h1loisirs {
    background-color: var(--primary);
    padding: 10px;
}

.loisirs {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    margin: 0 .5rem 1rem;
    border-radius: .5rem;
    gap :16px;
    box-shadow: var(--primary);
    justify-content: space-around;

}

figure {
    display: flex;
    width: 255px;
    height: auto;
    background-color: var(--primary);
    border-radius: 8%;
    border: 3px solid;
    border-color: var(--dark);

}

.arondi {
    object-fit: cover;
    object-position: top;
    width: 250px;
    height: 300px;
    border-radius: 8%;
    border: 3px solid;
    border-color: var(--dark);
}

figcaption {
    width: 250px;
    height: 530px;
}

.figcaption h2 {
    position: absolute;
    top: 17px;
    left: 20px;
}

.figcaption p {
    position: absolute;
    inline-size: 1.5rem;
    top: 17px;
    left: 20px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

main {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}