@font-face {
    font-family:'MyWebFont';
    src: url('creativeblock-bb.regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
  }

:root {
    --primary: rgb(63, 70, 214);
    --secondary: rgb(22, 122, 184);
    --light: rgb(236, 244, 249);
    --dark: rgb(31, 33, 34);
    --lightDark: rgb(48, 59, 65);

    --spacing: 8px;
    --spacing2: calc(8px * 2);
    --spacing3: calc(8px * 3);
    --spacing4: calc(8px * 4);
    --spacing5: calc(8px * 5);

    --font-familly:MyWebFont;

    --font-size-other:1.3rem;
    --font-size-title:2rem;
}

body {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

main {
    margin: var(--spacing);
}

table, li {
    font-size: var(--font-size-other);
}

h2 {
    font-family:var(--font-familly);
    font-size: var(--font-size-title);
}

td {
    padding: var(--spacing);
}

li {
    margin: var(--spacing);
}